.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #87a2d6;
  height: 10vh;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  padding-left: 5%;
  color: white;
}

.App-body {
  background-color: #6b83b1;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .buttons {
    display: inline-block;
    background-color: rgba(223, 223, 236, 0.801);
  }
}

.App-link {
  color: #61dafb;
}
